* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.hero {
  width: 100%;
  min-height: 100vh;
  background: rgb(64, 95, 252);
  background: radial-gradient(
    circle,
    rgba(64, 95, 252, 1) 0%,
    rgba(70, 249, 252, 1) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-size: 45px;
  font-weight: 700;
  margin-top: -50px;
  margin-bottom: 50px;
  color: rgb(0, 0, 60);
  text-transform: uppercase;
}

span {
  color: rgb(253, 87, 87);
}

textarea {
  width: 600px;
  height: 250px;
  font-size: 15px;
  background-color: aliceblue;
  border: 0;
  outline: 0;
  padding: 20px;
  margin-bottom: 30px;
  resize: none;
  border-radius: 10px;
}

.row {
  width: 600px;
  display: flex;
  align-items: center;
  gap: 20px;
}

button {
  font-size: 16px;
  padding: 10px 30px;
  border-radius: 35px;
  border: 0;
  outline: 0;
  cursor: pointer;
  color: white;
  background-color: rgb(253, 87, 87);
}

.fa {
  margin-right: 5px;
}

select {
  flex: 1;
  height: 50px;
  padding: 0 20px;
  outline: 0;
  border: 0;
  border-radius: 35px;
  appearance: none;
}
